/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  .content {
  
  
  
    nav {
      padding-bottom: 1em;
      text-align: center;  // mobile has centered nav
      @media (min-width: 30em) {
        text-align: left; // desktop nav is left-aligned
        padding: 1em;     // and needs more padding
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #4CAF50;
        @media (min-width: 30em) {
          padding-right: 1em; // give desktop some extra space
        }
        li {
          text-transform: uppercase;
          letter-spacing: 0.354em;
          float: left;
          border-right: 1px solid #bbb;
          a {
              display: block;
              color: white;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
          }
          a:hover:not(.active) {
            background: #111;
          }
          .active {
            background-color: #4CAF50;
          }
        }
      }
    }
    main {
      padding: 0.5em;
    }
  }